<a href="https://colab.research.google.com/github/vdantas40/Mini_proj_price_house/blob/main/Price_house_king.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AVALIAÇÃO DE COMPRA E VENDA DE CASAS NO CONDADO DE KING USA

<H3>ANÁLISE DE VIABILIDADE DE EXPANSÃO DE PORTIFOLIO <p><h5>

<H3>A cia Roof Imóveis quer expandir seus negócios além das fronteiras Brasileiras. Sua prospecção procura avaliação sobre o Condado de king no estado de Washington nos EUA.<p><br />

<h4>Segundo dados do sendo de 2000
<h5>Existem no condado 710 916 residências ocupadas, dos quais:<p> -28,4% abrigam pessoas com menos de 18 anos de idade;<p>-46,4% abrigam um casal;<p>-9% são famílias com uma mulher sem marido presente como chefe de família e<p>-40,9% não são famílias. <p><br />

<h4>Censo de 2020
<h5>Segundo o censo nacional de 2020,[2] o condado possui uma população de 2 269 675 habitantes e uma densidade populacional de 414,3 hab/km². Seu crescimento populacional na última década foi de 17,5%, acima da média estadual de 14,6%. É o condado mais populoso de Washington e o 12º mais populoso dos Estados Unidos. É o condado mais densamente povoado do estado.<p><h5>Possui 969 234 residências que resulta em uma densidade de 176,9 residências/km² e um aumento de 13,9% em relação ao censo anterior. Deste total, 5,3% das unidades habitacionais estão desocupadas. A média de ocupação é de 2,3 pessoas por residência.<p><br />

<h4>Quanto ao grupo familiar nestas residências:<p>-30,5% de todas as residências ocupadas são habitadas por apenas uma pessoa;<p>-7,5% das residências ocupadas no condado são habitadas por uma única pessoa com 65 anos ou mais de idade.<p>
Em média, cada residência ocupada possui 2,39 pessoas e cada família é composta por 3,03 membros.<p>
<H5>A renda média anual de uma residência ocupada é de 53 157 dólares, e a renda média anual de uma família é de 66 035 dólares.<p>Pessoas do sexo masculino possuem uma renda média anual de 45 802 dólares, e pessoas do sexo feminino, 34 321 dólares.<p> A renda per capita do condado é de 29 521 dólares. 8,4% da população do condado e 5,3% das famílias do condado vivem abaixo da linha de pobreza.<p> 9,4% das pessoas com 17 anos ou menos de idade e 7,4% das pessoas com 65 anos ou mais de idade estão vivendo abaixo da linha de pobreza. <p><br />

<H3>QUESTÃO DE NEGÓCIO<p>
<h5>Avaliar os 5 melhores imóveis para se comprar no condado de king e também quais os 5 imóveis que não indicamos.<p>
Para orientar nossa indicação, estaremos analisando os dados sob aspecto da localidade, visto que o condado tem seu custo de vida de médio para elevado, quem busca o condado tem noção desta realidade e tambem segue crescimento populacional em média anual 17%. Com aumento da densidade populacional teremos mais pessoas por m2 como potencial compradores. Por este motivo, a localidade que mostrar mais concentração e preço justo em relação a metragem do imóvel estará em nosso campo de pesquisa. <h5/><p><br />

<H3>O ENTENDIMENTO DO NEGÓCIO<p><h4>
<h5>Os dados disponíveis são do registrode vendas de imóveis de 2014 a 2015. Os dados representam cada venda e nem o nome de sua localidade, apesar de ter o cod postal que equivale ao cep.<p>
São relavantes para quantificar valores e notas avaliadas, mas em relação ao tempo e descrição das localidades ficou a desejar.<p>Não, os dados trazem uma solução direta quanto aos valores apurados, será necessário um implemento pra visualizar melhor as localidades.<p> Estou lidando com dados do setor imobiliario ou até hipotecário se houvesse o tipo de pagamento das vendas. <h4/><p><br />

<H3>COLETA DE DADOS<p>
<h5>Sim, fazem sentido, visto a quantidade historica de vendas e suas caracteristicas do imóvel que foi negociado.<p>
Eu esperava ter dados que já contemplava dados financeiros, e não só atributos do imóvel, pois uma casa recomprada depende de quanto se assume a dívida.<p>
É possível obter o georeferenciamento dos imóveis pelas coordenadas, valores por m3 e a quanto tempo a casa existeesta.<p><br />

<H3>LIMPEZA DE DADOS<p><h4>
<h5>Não foi necessário nenhuma remoção ou substituição, pois os dados não apresentaram valores na ou null. <p><br />

<H3>A EXPLORAÇÃO DE DADOS<p>
<h5>Utilizando gráficos de pontos comparativos entre as localidades de interesse.<p>
<h5>As métricas que considero essenciais são:<p>
Vendas mais frequentes por localidade e concentração de densidade por m2.<p>
Baseado nos dados, qual imóvel ou tipo de imóveis eu deveria comprar <h4/><p><br />

In [ ]:
## PACOTES NECESSÁRIOS (CRIAR FUNCTION DE CHAMADA)
import pandas as pd             #TRATAMENTO E LIMPEZA
import matplotlib.pyplot as plt #GRÁFICO E 
import numpy as np              #MOLDELAGEM DAS SERIES
from google.colab import files  #ACESSO ARQ NO DRIVE
from datetime import date
import datetime

In [ ]:
## CRIANDO OBJETO DATA PARA USO
data = datetime.datetime.now()
hoje = date.today()
import datetime
print(hoje)

2022-08-19

In [ ]:
## >> IMPORTAR dataset > pasta colab
from google.colab import files
Odmx = files.upload()
## ACESSANDO arquivo csv
dfimoveis = pd.read_csv('kc_house_data.csv', sep =',') # error_bad_lines==False)
## ALTERANDO DESCRIÇÃO DE VETORES
dfimoveis = dfimoveis.rename(columns = {'bedrooms': 'Qts'})
dfimoveis = dfimoveis.rename(columns = {'bathrooms': 'Bhs'})
dfimoveis = dfimoveis.rename(columns = {'sqft_living': 'm2hab'})
dfimoveis = dfimoveis.rename(columns = {'sqft_lot': 'm2tt'})
dfimoveis = dfimoveis.rename(columns = {'waterfront': 'Vmar'})
dfimoveis = dfimoveis.rename(columns = {'view': 'Vbela'})
dfimoveis = dfimoveis.rename(columns = {'condition': 'nota'})
dfimoveis = dfimoveis.rename(columns = {'grade': 'NMat_P'})
dfimoveis = dfimoveis.rename(columns = {'sqft_above': 'A▲solo'})
dfimoveis = dfimoveis.rename(columns = {'sqft_basement': 'A▼solo'})
dfimoveis = dfimoveis.rename(columns = {'sqft_living15': 'Med15hab'})
dfimoveis = dfimoveis.rename(columns = {'sqft_lot15': 'Med15lot'})
dfimoveis = dfimoveis.rename(columns = {'date': 'dt_venda'})
dfimoveis = dfimoveis.rename(columns = {'yr_built': 'dt_const'})
dfimoveis = dfimoveis.rename(columns = {'yr_renovated': 'dt_resta'})
dfimoveis = dfimoveis.rename(columns = {'zipcode': 'cep'})

## AJUSTAR TIPO DE DADO
#dfimoveis['dt_venda'] = pd.to_datetime(dfimoveis['dt_venda'])

## pd.options.display.float_format = 'm3 {:.2f}'.format
pd.options.display.float_format = '{:.2f}'.format
## CONVERTENDO p/ und de medida BRL para facilitar entendimento DO CLIENTE
dfimoveis['m2hab'] = dfimoveis['m2hab'].apply(lambda x : x/10.764)
dfimoveis['m2tt'] = dfimoveis['m2tt'].apply(lambda x : x/10.764)
dfimoveis['A▲solo'] = dfimoveis['A▲solo'].apply(lambda x : x/10.764)
dfimoveis['A▼solo'] = dfimoveis['A▼solo'].apply(lambda x : x/10.764)
## PREÇO POR M3
dfimoveis['value_m2'] = dfimoveis['price'] / dfimoveis['m2tt']
dfimoveis['live_house'] = 2022 - dfimoveis['dt_const']
dfimoveis['live_Rform'] = dfimoveis['dt_resta'] - dfimoveis['dt_const']
## NOVA COLUNA COM ANO 
from datetime import datetime, timezone, timedelta
dti = pd.DataFrame(dfimoveis['dt_venda'])
dti = pd.to_datetime(dti['dt_venda'])#, format='%Y%m%d', unit='ns',utc=True)# contem erros ao converter
dti = dti.dt.strftime('%Y')             #convert para str(object)
dti = pd.to_numeric(dti)                #convert para numero
dfimoveis['dt_vendas'] = dti            #inserindo ano da venda obs-faltou o mes e dia
## NOVA COLUNA COM ANO DESDE A VENDA ATÉ ANO ATUAL
dfimoveis['y_sell'] = pd.DataFrame(dti.apply(lambda x:(2022 - x)))
dfimoveis

Saving kc_house_data.csv to kc_house_data.csv

,id,dt_venda,price,Qts,Bhs,m2hab,m2tt,floors,Vmar,Vbela,...,cep,lat,long,Med15hab,Med15lot,value_m2,live_house,live_Rform,dt_vendas,y_sell
0,7129300520,20141013T000000,221900.00,3,1.00,109.62,524.90,1.00,0,0,...,98178,47.51,-122.26,1340,5650,422.75,67,-1955,2014,8
1,6414100192,20141209T000000,538000.00,3,2.25,238.76,672.80,2.00,0,0,...,98125,47.72,-122.32,1690,7639,799.65,71,40,2014,8
2,5631500400,20150225T000000,180000.00,2,1.00,71.53,929.02,1.00,0,0,...,98028,47.74,-122.23,2720,8062,193.75,89,-1933,2015,7
3,2487200875,20141209T000000,604000.00,4,3.00,182.09,464.51,1.00,0,0,...,98136,47.52,-122.39,1360,5000,1300.29,57,-1965,2014,8
4,1954400510,20150218T000000,510000.00,3,2.00,156.08,750.65,1.00,0,0,...,98074,47.62,-122.05,1800,7503,679.41,35,-1987,2015,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.00,3,2.50,142.14,105.07,3.00,0,0,...,98103,47.70,-122.35,1530,1509,3426.21,13,-2009,2014,8
21609,6600060120,20150223T000000,400000.00,4,2.50,214.60,540.04,2.00,0,0,...,98146,47.51,-122.36,1830,7200,740.68,8,-2014,2015,7
21610,1523300141,20140623T000000,402101.00,2,0.75,94.76,125.42,2.00,0,0,...,98144,47.59,-122.30,1020,2007,3206.09,13,-2009,2014,8
21611,291310100,20150116T000000,400000.00,3,2.50,148.64,221.85,2.00,0,0,...,98027,47.53,-122.07,1410,1287,1803.02,18,-2004,2015,7
21612,1523300157,20141015T000000,325000.00,2,0.75,94.76,99.96,2.00,0,0,...,98144,47.59,-122.30,1020,1357,3251.21,14,-2008,2014,8

In [ ]:
from geopy.geocoders import Nominatim
import time
from pprint import pprint

In [ ]:
geolocator = Nominatim(user_agent='teste')

def reverse_geocoding(lat, lon):
  try:
    location = geolacator.reverse(Point(lat, lon))
    return location,raw['display_name']
  except:
    return None

dfimoveis['address'] = pd.vectorize(reverse_geocoding)(dfimoveis['lat'], df['long'])

print(dfimoveis)

![image.png]()

In [ ]:
## OBTENDO END POSTAL DOS CODEZIP
## ref.: https://usa.youbianku.com/es/county-new/King#myarticle
Odmz = files.upload()
dfcep = pd.read_csv('postalking.csv',sep=';')
dfcep = dfcep.rename(columns = {'Código Postal': 'cep'})
dfcep = dfcep.rename(columns = {'Ciudad': 'city'})

## MERGE p/ atribuir _condado/cidade/estado_ ao cod postal
dflocal = pd.merge(dfimoveis, dfcep, on='cep')
dflocal#.info()

Saving postalking.csv to postalking (1).csv

,id,dt_venda,price,Qts,Bhs,m2hab,m2tt,floors,Vmar,Vbela,...,Med15hab,Med15lot,value_m2,live_house,live_Rform,dt_vendas,y_sell,Condado,city,Estado
0,7129300520,20141013T000000,221900.00,3,1.00,109.62,524.90,1.00,0,0,...,1340,5650,422.75,67,-1955,2014,8,King,Bryn Mawr,Washington
1,4060000240,20140623T000000,205425.00,2,1.00,81.75,629.88,1.00,0,0,...,1190,6780,326.13,77,-1945,2014,8,King,Bryn Mawr,Washington
2,4058801670,20140717T000000,445000.00,3,2.25,195.09,761.89,1.00,0,2,...,2660,8712,584.07,55,-1967,2014,8,King,Bryn Mawr,Washington
3,2976800796,20140925T000000,236000.00,3,1.00,120.77,547.94,1.00,0,0,...,1320,7619,430.71,61,-1961,2014,8,King,Bryn Mawr,Washington
4,6874200960,20150227T000000,170000.00,2,1.00,79.90,489.13,1.00,0,0,...,1650,8775,347.56,91,-1931,2015,7,King,Bryn Mawr,Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,2525049086,20141003T000000,2720000.00,4,3.25,370.68,1682.92,2.00,0,0,...,3450,16087,1616.23,33,-1989,2014,8,King,Medina,Washington
21609,2525049113,20140725T000000,1950000.00,4,3.50,377.65,1738.48,2.00,0,0,...,3070,18713,1121.67,35,-1987,2014,8,King,Medina,Washington
21610,3262300485,20150421T000000,2250000.00,5,5.25,316.80,754.18,2.00,0,0,...,3410,16236,2983.37,16,-2006,2015,7,King,Medina,Washington
21611,6447300365,20141113T000000,2900000.00,5,4.00,482.16,1356.37,2.00,0,1,...,3840,19250,2138.05,9,-2013,2014,8,King,Medina,Washington
21612,3262300818,20150227T000000,1865000.00,4,3.75,352.10,817.26,2.00,0,0,...,2660,12150,2282.01,16,-2006,2015,7,King,Medina,Washington

In [ ]:
## 1 -- DELIMITANDO CAMPO DE PESQUISA - QUANTAS CASAS FORAM VENDIDAS NO MESMO CEP???
dflocal['cep'].unique()             # unicos = 70
aggid = dflocal.groupby(['price'])['city'].agg('sum').replace().unique#.nlargest(21613, 'price',keep='all')
#agg.price = dflocal.groupby(['city'])['price'].agg('sum').reset_index()
aggid             # PARA OBSERVAR

<bound method Series.unique of price
75000.00      Crystal Mountain
78000.00                Burien
80000.00             Carnation
81000.00                Burien
82000.00                Burien
                    ...
5350000.00          Beaux Arts
5570000.00              Medina
6885000.00              Medina
7062500.00          Beaux Arts
7700000.00            Broadway
Name: city, Length: 4028, dtype: object>

In [ ]:
dfcep

       cep Condado         city      Estado
0    79236    King      Guthrie       Texas
1    98001    King       Algona  Washington
2    98002    King       Auburn  Washington
3    98003    King       Auburn  Washington
4    98004    King   Beaux Arts  Washington
..     ...     ...          ...         ...
116  98195    King      Seattle  Washington
117  98198    King   Des Moines  Washington
118  98199    King  Fort Lawton  Washington
119  98224    King       Baring  Washington
120  98288    King       Grotto  Washington

[121 rows x 4 columns]

In [ ]:
## PESQUISANDO PREÇOS MAXIMOS E MINIMOS POR CIDADE
maxvalue = dflocal.nlargest(22000, 'price',keep='all')
#minvalue = dflocal.nsmallest(22000, 'price',keep='all')
maxvalue.replace('city')
#dfteste = dfimoveis.set_index('id')
#dfteste

,id,dt_venda,price,Qts,Bhs,m2hab,m2tt,floors,Vmar,Vbela,...,Med15hab,Med15lot,value_m2,live_house,live_Rform,dt_vendas,y_sell,Condado,city,Estado
16547,6762700020,20141013T000000,7700000.00,6,8.00,1119.47,2564.10,2.50,0,3,...,3940,8800,3003.00,112,77,2014,8,King,Broadway,Washington
13584,9808700762,20140611T000000,7062500.00,5,4.50,932.74,3467.58,2.00,1,2,...,3930,25449,2036.72,82,61,2014,8,King,Beaux Arts,Washington
21576,9208900037,20140919T000000,6885000.00,6,7.75,918.80,2914.72,2.00,0,4,...,4540,42730,2362.15,21,-2001,2014,8,King,Medina,Washington
21568,2470100110,20140804T000000,5570000.00,5,5.75,854.70,3257.99,2.00,0,0,...,3560,24345,1709.64,21,-2001,2014,8,King,Medina,Washington
13541,8907500070,20150413T000000,5350000.00,5,5.00,743.22,2228.26,2.00,0,4,...,4600,21750,2400.98,13,-2009,2015,7,King,Beaux Arts,Washington
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2725,3883800011,20141105T000000,82000.00,3,1.00,79.90,968.60,1.00,0,0,...,1140,11250,84.66,68,-1954,2014,8,King,Burien,Washington
17211,3028200080,20150324T000000,81000.00,2,1.00,67.82,926.70,1.00,0,0,...,860,9000,87.41,79,-1943,2015,7,King,Burien,Washington
21172,8658300340,20140523T000000,80000.00,1,0.75,39.95,469.16,1.00,0,0,...,1200,7500,170.52,110,-1912,2014,8,King,Carnation,Washington
17200,40000362,20140506T000000,78000.00,2,1.00,72.46,1518.39,1.00,0,0,...,1700,10387,51.37,80,-1942,2014,8,King,Burien,Washington
18777,3421079032,20150217T000000,75000.00,1,0.00,62.24,4029.82,1.00,0,0,...,1160,42882,18.61,56,-1966,2015,7,King,Crystal Mountain,Washington

## INTERROMPIDO POR ATRASAR A ENTREGA - SERIA A DIFERENÇA DAS VENDAS DOS IMÓVEIS ÚNICOS RENT = ((V2/V1)-1)*100
soma = 0
lst = []
for c in range(0,len(teste)+1):
  soma = soma + c
  #print('c = {}'.format(c))
  for f in teste.iloc[0][0:1]:
    #print('id1 ={}'.format(f))
    for rows in teste['id']+c:
      #print('id2 ={}'.format(l))#,lst)
      if l == rows:
        print('ok')
        n = l / rows
        teste['rentab'] = n
        print('resultado = {}'.format(n))

In [ ]:
##  2 -- DELIMITANDO CAMPO DE PESQUISA - POR CIDADE MAIS VENDIDOS
dftt = dflocal.value_counts('city')#.normalize=True) >>list   # CONTANDO A QT DE REGISTROS DE VENDAS
dftt

city
Seattle             2280
Auburn              1329
Bellevue            1090
Burien               868
Redmond              846
Bitter Lake          749
Issaquah             680
Kent                 655
Greenwood            602
Four Corners         590
Adelaide             574
Crown Hill           553
Covington            548
Juanita              545
Columbia             508
Bothell              478
Newcastle            468
Cascade              455
Forest Park          446
Houghton             432
Coal Creek           412
Lake City            410
Hazelwood            406
Algona               362
Beacon Hill          343
Fort Lawton          317
Beaux Arts           317
Snoqualmie           310
East Union           290
Mercer Island        282
Des Moines           280
Cottage Lake         273
Madison Park         269
Renton               268
Ballard              266
Bryn Mawr            262
Crystal Mountain     234
Cedar Falls          221
Woodinville          198
Duvall               190
Interbay             184
Duwamish             136
Carnation            124
Dockton              118
Queen Anne           109
Broadway             105
Black Diamond        100
Fall City             81
Medina                50
dtype: int64

In [ ]:
## LOOP EM LIST - SLICE EM ATÉ 50% DAS MAIORES VENDAS POR CIDADE
lst = []
soma = 0
for i in dftt:
  soma = soma +i
  porcao = (soma / 21613)*100
  lst.insert(0,i)
  if porcao >= 50.50:
    break
  print('acumulado ={} | Representa ={:.2f}'.format(soma,porcao))
print(lst)

acumulado =2280 | Representa =10.55
acumulado =3609 | Representa =16.70
acumulado =4699 | Representa =21.74
acumulado =5567 | Representa =25.76
acumulado =6413 | Representa =29.67
acumulado =7162 | Representa =33.14
acumulado =7842 | Representa =36.28
acumulado =8497 | Representa =39.31
acumulado =9099 | Representa =42.10
acumulado =9689 | Representa =44.83
acumulado =10263 | Representa =47.49
acumulado =10816 | Representa =50.04
[548, 553, 574, 590, 602, 655, 680, 749, 846, 868, 1090, 1329, 2280]

In [ ]:
## LIMITANDO AOS 25 ceps mais vendidos, indicando (35,71%) do total e equivalente = 11638/21613 => (53,84%)
## QUADRO DE DADOS PARA AVALIAÇÃO
dftt = dftt.head(100).reset_index()#.sum()           
dftt = dftt[0:len(lst)]
dftt.drop(columns=(0))
# FUNDINDO TABELAS PELAS CIDADES(50%) DO REGISTRO
dfselectcity = pd.merge(dflocal,dftt)
dfselectcity
## OBTENDO MEDIA DAS COORDENADAS POR CIDADE
aggp = dfselectcity.groupby(['city'])['price'].agg('mean').reset_index()
agglh = dfselectcity.groupby(['city'])['live_house'].agg('mean').reset_index()
aggvm = dfselectcity.groupby(['city'])['value_m2'].agg('mean').reset_index()
aggynt = dfselectcity.groupby(['city'])['nota'].agg('mean').reset_index()
aggm15h = dfselectcity.groupby(['city'])['Med15hab'].agg('mean').reset_index()
aggm15l = dfselectcity.groupby(['city'])['Med15lot'].agg('mean').reset_index()
agglh = dfselectcity.groupby(['city'])['live_house'].agg('mean').reset_index()
aggys = dfselectcity.groupby(['city'])['y_sell'].agg('mean').reset_index()

listacity = [aggp, agglh, aggvm, aggynt, aggm15h, aggm15l, agglh, aggys]
med_city = pd.DataFrame(aggp)

In [ ]:
for med in listacity:
  med_city = pd.merge(med_city,med)
  #print('média = {}'.format(med))
print(med_city)

            city     price  live_house  value_m2  nota  Med15hab  Med15lot  \
0       Adelaide 645231.46       36.65    891.41  3.32   2333.73  10065.18
1         Auburn 293160.75       42.46    363.49  3.42   1916.63  14823.54
2       Bellevue 765065.25       48.87    767.39  3.66   2468.09  12091.10
3    Bitter Lake 485452.59       59.51    840.58  3.52   1769.83   8411.95
4         Burien 348311.27       66.13    399.51  3.35   1623.47  10055.01
5      Covington 311632.11       35.62    396.33  3.52   1956.58  14702.21
6     Crown Hill 576795.01       73.73   1626.19  3.54   1540.00   4639.75
7   Four Corners 366867.60       26.19    526.69  3.19   2118.42  20054.77
8      Greenwood 584919.21       68.91   2371.94  3.48   1524.15   3472.32
9       Issaquah 706586.51       26.35   1130.94  3.18   2618.60  11274.45
10          Kent 289441.35       42.10    383.56  3.44   1868.07   8669.27
11       Redmond 682042.77       28.31    756.47  3.09   2532.47  20794.31
12       Seattle 540260.71       68.58   1415.17  3.46   1621.86   5168.80

    y_sell
0     7.72
1     7.66
2     7.70
3     7.67
4     7.66
5     7.63
6     7.72
7     7.64
8     7.72
9     7.69
10    7.64
11    7.71
12    7.68

In [ ]:
## SELECIONANDO OS RESULTADOS POR MÉDIAS DOS VALORES M2 HABITAVEL SOBRE TEMPO DE VENDA PROJETADO
med_city['m2pornota']     = pd.DataFrame(med_city['value_m2'] * med_city['nota'])
med_city['tprev_venda']   = pd.DataFrame(med_city['live_house'] / med_city['y_sell']) # quanto menor melhor
med_city['medtvendacity'] = med_city['y_sell'].mean()
med_city['mintvendacity'] = med_city['y_sell'].min()
med_city['vlprojmed']     = pd.DataFrame(med_city['m2pornota']*(med_city['Med15lot'] ** (med_city['medtvendacity']/med_city['tprev_venda'])))
med_city['RetornoPmed']   = pd.DataFrame(med_city['vlprojmed']/med_city['price'])
med_city = med_city.nlargest(22000, 'RetornoPmed',keep='all')
med_city

,city,price,live_house,value_m2,nota,Med15hab,Med15lot,y_sell,m2pornota,tprev_venda,medtvendacity,mintvendacity,vlprojmed,RetornoPmed
7,Four Corners,366867.60,26.19,526.69,3.19,2118.42,20054.77,7.64,1681.83,3.43,7.68,7.63,7290390736406.97,19871993.97
9,Issaquah,706586.51,26.35,1130.94,3.18,2618.60,11274.45,7.69,3595.74,3.43,7.68,7.63,4366133207113.17,6179191.27
11,Redmond,682042.77,28.31,756.47,3.09,2532.47,20794.31,7.71,2340.94,3.67,7.68,7.63,2499646639028.39,3664941.17
5,Covington,311632.11,35.62,396.33,3.52,1956.58,14702.21,7.63,1394.40,4.67,7.68,7.63,9946666662.86,31917.98
0,Adelaide,645231.46,36.65,891.41,3.32,2333.73,10065.18,7.72,2961.53,4.74,7.68,7.63,8931822615.30,13842.82
1,Auburn,293160.75,42.46,363.49,3.42,1916.63,14823.54,7.66,1242.81,5.54,7.68,7.63,746942168.44,2547.89
10,Kent,289441.35,42.10,383.56,3.44,1868.07,8669.27,7.64,1320.51,5.51,7.68,7.63,407630061.91,1408.33
2,Bellevue,765065.25,48.87,767.39,3.66,2468.09,12091.10,7.70,2811.19,6.35,7.68,7.63,243235723.84,317.93
3,Bitter Lake,485452.59,59.51,840.58,3.52,1769.83,8411.95,7.67,2962.79,7.76,7.68,7.63,22771497.98,46.91
8,Greenwood,584919.21,68.91,2371.94,3.48,1524.15,3472.32,7.72,8262.39,8.93,7.68,7.63,9165577.11,15.67
12,Seattle,540260.71,68.58,1415.17,3.46,1621.86,5168.80,7.68,4890.40,8.93,7.68,7.63,7608640.11,14.08
4,Burien,348311.27,66.13,399.51,3.35,1623.47,10055.01,7.66,1336.60,8.64,7.68,7.63,4829002.13,13.86
6,Crown Hill,576795.01,73.73,1626.19,3.54,1540.00,4639.75,7.72,5754.88,9.56,7.68,7.63,5089645.09,8.82

In [ ]:
## LOCALIZAÇÃO DOS IMOVEIS QUE CONSIDERAMOS VIAVEIS A COMPRA
fc = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Four Corners', :]
fc = fc.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #----------------
iss = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Issaquah', :]
iss = iss.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #--------------
redm = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Redmond', :]
redm = redm.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #------------
cov = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Covington', :]
cov = cov.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #--------------
adel = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Adelaide', :]
adel = adel.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #------------
print(fc[:1],iss[:1],redm[:1],cov[:1],adel[:1])

              id         dt_venda     price  m2hab    m2tt  nota  NMat_P  \
3373  5111400086  20140512T000000 110000.00 116.13 4937.11     5       6

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
3373  116.13    0.00      1945  ... 47.42 -122.05      1820    217800

      value_m2  live_house  live_Rform  dt_vendas  y_sell          city
3373     22.28          77       -1945       2014       8  Four Corners

[1 rows x 22 columns]                id         dt_venda     price  m2hab   m2tt  nota  NMat_P  \
17956  3630060040  20140911T000000 285000.00  97.55 286.88     3       7

       A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
17956   97.55    0.00      2005  ... 47.55 -122.00      1890      2772

       value_m2  live_house  live_Rform  dt_vendas  y_sell      city
17956    993.44          17       -2005       2014       8  Issaquah

[1 rows x 22 columns]              id         dt_venda     price  m2hab    m2tt  nota  NMat_P  \
1878  203101370  20140630T000000 170000.00 111.48 2303.23     2       7

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
1878  111.48    0.00      1976  ... 47.63 -121.96      2150     24792

      value_m2  live_house  live_Rform  dt_vendas  y_sell     city
1878     73.81          46       -1976       2014       8  Redmond

[1 rows x 22 columns]                id         dt_venda     price  m2hab    m2tt  nota  NMat_P  \
11965  4311700120  20150317T000000 105000.00  81.75 1682.37     4       6

       A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
11965   81.75    0.00      1970  ... 47.36 -122.10       940     11193

       value_m2  live_house  live_Rform  dt_vendas  y_sell       city
11965     62.41          52       -1970       2015       7  Covington

[1 rows x 22 columns]               id         dt_venda     price  m2hab    m2tt  nota  NMat_P  \
7899  1237500540  20141021T000000 225000.00 127.28 1009.48     4       6

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
7899  127.28    0.00      1945  ... 47.68 -122.16      1580     14250

      value_m2  live_house  live_Rform  dt_vendas  y_sell      city
7899    222.89          77       -1945       2014       8  Adelaide

[1 rows x 22 columns]

In [ ]:
## LOCALIZAÇÃO DOS IMOVEIS QUE CONSIDERAMOS não VIAVEIS A COMPRA
ch = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Crown Hill', :]
ch = ch.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #----------------
bu = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Burien', :]
bu = bu.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #----------------
sett = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Seattle', :]
sett = sett.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #------------
gree = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Greenwood', :]
gree = gree.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado']) #------------
bl = dflocal.nsmallest(22700, 'price',keep='all').loc[lambda df: df['city'] =='Bitter Lake', :]
bl = bl.drop(columns=['Qts','Bhs','floors','Vmar','Vbela','Condado','Estado'])
print(ch[:1],bu[:1],sett[:1],gree[1:2],bl[:1])

              id         dt_venda     price  m2hab   m2tt  nota  NMat_P  \
9095  3501100050  20141210T000000 125000.00 114.27 445.93     1       6

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
9095  114.27    0.00      1916  ... 47.69 -122.36      1230      4800

      value_m2  live_house  live_Rform  dt_vendas  y_sell        city
9095    280.31         106       -1916       2014       8  Crown Hill

[1 rows x 22 columns]              id         dt_venda    price  m2hab    m2tt  nota  NMat_P  \
17200  40000362  20140506T000000 78000.00  72.46 1518.39     1       5

       A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
17200   72.46    0.00      1942  ... 47.47 -122.28      1700     10387

       value_m2  live_house  live_Rform  dt_vendas  y_sell    city
17200     51.37          80       -1942       2014       8  Burien

[1 rows x 22 columns]                id         dt_venda    price  m2hab   m2tt  nota  NMat_P  \
20657  2114700500  20150418T000000 90000.00  52.03 382.76     3       4

       A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
20657   52.03    0.00      1947  ... 47.53 -122.35       980      4120

       value_m2  live_house  live_Rform  dt_vendas  y_sell     city
20657    235.14          75       -1947       2015       7  Seattle

[1 rows x 22 columns]               id         dt_venda     price  m2hab  m2tt  nota  NMat_P  \
5584  9524100196  20141117T000000 239000.00  63.17 71.72     3       7

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
5584   63.17    0.00      2005  ... 47.70 -122.34       690      1059

      value_m2  live_house  live_Rform  dt_vendas  y_sell       city
5584   3332.38          17       -2005       2014       8  Greenwood

[1 rows x 22 columns]               id         dt_venda     price  m2hab   m2tt  nota  NMat_P  \
6186  6450302546  20141021T000000 130000.00  78.04 618.17     3       7

      A▲solo  A▼solo  dt_const  ...   lat    long  Med15hab  Med15lot  \
6186   78.04    0.00      1951  ... 47.73 -122.33      1350      5831

      value_m2  live_house  live_Rform  dt_vendas  y_sell         city
6186    210.30          71       -1951       2014       8  Bitter Lake

[1 rows x 22 columns]

**GEOREFERENCIADO DO IMOVÉL**

In [ ]:
from folium.map import Tooltip
from folium import plugins
from folium.plugins import MeasureControl
import folium

In [ ]:
coordNbuy = [[47.69, -122.36],[47.47,-122.28],[47.53,-122.35],[47.70, -122.34],[47.73, -122.33]]

In [ ]:
coordbuy = [[47.42,-122.05],[47.55,-122.00],[47.63,-121.96],[47.36,-122.10],[47.68,-122.16]]

In [ ]:
from pandas.compat.numpy.function import CompatValidator
king1 = folium.Map(location=[47.42,-122.05],
                  tiles='Stamen Toner',
                  #Tooltip='Clique aqui',
                  zoom_start=30)

folium.Marker([47.42,-122.05],
              popup = 'FOUR CORNERS',
              icon=folium.Icon(color='green')).add_to(king1)

feat_group = folium.FeatureGroup()
feat_group.add_child(plugins.HeatMap(coordbuy,min_opacity=0.05, blur=30, overlay=True, control=False, show=True))
king1.add_child(feat_group)
king1.add_child(folium.LayerControl()) # this call must be the last one
king1

In [ ]:
from pandas.compat.numpy.function import CompatValidator
king2 = folium.Map(location=[47.69, -122.36],
                  tiles='Stamen Toner',
                  #Tooltip='Clique aqui',
                  zoom_start=30)

folium.Marker([47.69, -122.36],
              popup = 'FOUR CORNERS',
              icon=folium.Icon(color='red')).add_to(king2)

feat_group2 = folium.FeatureGroup()
feat_group2.add_child(plugins.HeatMap(coordNbuy,min_opacity=0.05, blur=2, overlay=True, control=False, show=True))
king2.add_child(feat_group2)
king2.add_child(folium.LayerControl()) # this call must be the last one
king2

In [ ]:
king1.save("king1.html")
king2.save("king2.html")

# RELATÓRIO SOBRE EVOLUÇÃO DE PESQUISA
<H4>- IMÓVEIS NO CONDADO DE KING

<H4>Com os dados apresentados, as primeiras impressções foram de adaptar a sescrições e unidades para facilitar o entendimento em nossa linquagem local e para explicar ao cliente.

<H4>Depois de olhar cada dado, foi considerada a necessários de novas colunas com dados adaptados para complementar a visão do quadro geral. Isso levou a  importar dados em tabela com os zipcode e correspondente a cidades e ao condado, mesclando aos dados principais.

<H4>Por razão dos dados apresentarem caracteristicas de metragem, segui o viés da busca pelo cep, espaço e ocupação. Desta forma, procurei os cep's e seus registros que mais se repetiram.

<H4>Pesquisando os preços mais altos que foram negociados e em quais regiões eles mais se concentravam. Foi obtido 50% dos valores das vendas acumulados apenas com 12 cidades das 49 do condado de king.

<H4>Com os cep's segregados, feito novo filtro por cidade e suas vendas agrupadas com alguns critérios de avaliação de valor dos imóveis. Assim, montamos novos quadro de dados apenas para avaliação, sem alterar os dados principais.

<H4>Com os quadros de avalição, a lógica foi buscar uma métrica com as médias agrupadas por cidade, olhando o tempo de vida dos imóveis e quanto tempo foi vendido. Avaliando seu preço/m2 com peso das notas dadas ao imóvel. A busca é definir se imóveis mais recentes tem mais espectativa de preço sobre o tempo médio de venda no condado de king. Assim tentar estimar quanto ainda tem de valor futuro sobre a média hábitavel nas casas mais próximas.

<H4>Definiu-se um rank para orientação e escolha de localidade. Foram listados 5 imóveis de menor valor como indicados, por razões de estratégia inicial do negócio, sem saber o aporte inicial que a empresa deseja fazer em território internacional. Como tambem nos mesmos critérios, indicamos os 5 imoveis que não consideramos viáveis.

<H4>Foram ordenados suas coordenadas para identificação georeferenciada e marcadas no google maps. Os 5 indicados estão em tom de verde e os 5 não indicados marcados em tom de vermelho.

Sem mais considerações.
<H4/>